@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

/* --- GOLBAL VAR --- */

.container{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

ul{
    list-style: none;
}

a{
    color:#fff;
    text-decoration: none;
}

.active{
    border-bottom: 3px solid #ff6d00;
}

/* --- HEADER / NAV SECTION --- */

header{
    background: #8b4a2e;
    display: flex;
    height: 90px;
}

header .bars{
    display: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

header .container .logo{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-60%, -50%);
    height: 160px;
    width: 180px;
}

header .container .logo img{
    height: 100%;
    width: 100%;
}

header .container nav{
    width: 100%;
    height: 100%;
}

header .container nav .nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

header .container nav .nav-links .nav-link a{
    color: #fff;
    font-size: 25px;
    font-family: 'Carter One';
}

nav .nav-links .nav-link a:hover{
    border-bottom: 3px solid #ff6d00;
}

header .container nav .nav-links .marg-right{
    margin-right: 100px;
}

header .container nav .nav-links .marg-left{
    margin-left: 100px;
}

.banner .banner-img{
    width: 100%;
    height: auto;
}

.banner .banner-img img{
    width: 100%;
    height: 100%;
}

/* --- CONTENT SECTION --- */

.content{
    margin: 100px 0;
}

.content .heading{
    text-align: center;
    font-size: 50px;
    font-family: "Damion";
    margin-bottom: 40px;
}

.content .menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
    background: #383b38;
    border: 20px solid #8b4a2e;
    border-radius: 20px;
}

.content .menu .box{
    margin: 40px auto;
    width: 50%;
}

.content .menu .box .items{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 
}

.content .menu .box p{
    font-size: 20px;
    margin-bottom: 8px;
}

.content .menu .box .items .item{
    margin-bottom: 50px;
}

.content .menu .box .items .price{
    text-align: center;
}

.content .menu .box-1{
    grid-column: 1/3;
    width: 75%;
}
.content .menu .box-1 .items{
    grid-template-columns: repeat(4, 1fr);
}

.content .menu .box-2{
    grid-column: 2/3;
}

.content .menu .box-3{
    grid-column: 2/3;
    grid-row: 1;
}

.content .menu .box-4{
    grid-column: 1/2;
    grid-row: 1;
}

.content .box-title{
    margin-bottom: 40px;
    text-align: center;
    background: #c2c236;
    border-radius: 10px;
}

@media (max-width: 1200px){

    /* --- Navbar Section --- */

    header .container nav .nav-links .nav-link a{
        font-size: 22px;
    }
        
    header .container .logo{
        height: 140px;
        width: 160px;
    }

.banner .banner-img{
    height: 40vh;
}
}

@media (max-width: 768px){

    /*--- NAVBAR SECTION --- */

    header .bars{
        display: block;
        margin: 20px 0;
        font-size: 55px;
        z-index: 99;
        position: absolute;
    }
    
    
    header .container nav .nav-links{
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    header .container nav .nav-links .nav-link{
        border: 2px solid #fff;
        width: 100%;
        text-align: center;
        
    }
    
    .active{
        border: none;
    }
    
    header .container nav .nav-links .nav-link a{
        width: 100%;
        height: 100%;
        display: block;
        padding: 20px 0;
    }
    
    header .container nav .nav-links .nav-link a:hover{
        border: none;
    }
    
    header .container nav .nav-links .nav-link:hover{
        background: rgb(2, 54, 131);
    }
    
    header .container nav .showing{
        display: flex;
        z-index: 98;
    }
    
    
    
    header .container nav .nav-links .marg-right,
    header .container nav .nav-links .marg-left{
        margin: 0;
    }

/* --- Banner Section --- */

.banner .banner-img{
    height: 20vh;
}

/* --- Menu Block Section --- */

.content .menu{
    display: block;
}

.content .menu .box{
    width: 75%;
}

.content .menu .box-1 .items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content .menu .box p{
    font-size: 16px;
}
}

@media (max-width: 406px){

header .container .logo{
    height: 120px;
    width: 130px;
    margin-left: 20px;
}

.content .heading{
    font-size: 40px;
}

.content .menu .box{
    width: 95%;
}
}